node_modules/

.env

firebase.json
resumefy-8e8fa-596b083f089f.json

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.aux
*.log
*.out
*.toc
*.pdf

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/

dist/
build/
