body {
  overflow-x: hidden;
  font-family: 'Arial', Helvetica, sans-serif;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.quickOptions {
  text-decoration: none;
  border-radius: 10px;
  border-color: #3f4141;
  border: 2px solid;
  color: #372414;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s;
  cursor: pointer;
}

.quickOptions:hover {
  background-color: #cecac8;
}
